body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url("img/bg2.jpg");
	color:balck;
}


.bg1 {
	width: 70%;
	z-index:-1;
	position:fixed ;
	left:0%;
	top:0%;

}


#cardTable{
	width:100%;
}
img
{
	width:85%;
}

.card-container {
	width: 70%;
	border-right: 1px solid #ccc;
	
}

.card-container div{
	padding-top: 5%;
	padding-bottom: 18%;
}

.card-container div img{
  margin:auto;
  display:block;
  filter:drop-shadow(0px 0px 10px rgba(255,255,255,.5));
  border-radius: 10px;
  background-color:rgba(250, 250, 250,0.25);
  box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  -webkit-box-reflect: below 20px linear-gradient(transparent, rgba(0, 0, 0, .2));
  

}

.preview-container {
	left: 75%;
	right:5%;
	top:0%;
	height:30%;
	position:fixed;
}




.card-container div img:hover{
	filter:drop-shadow(0px 0px 10px rgba(0,170,240,.8)) contrast(110%);
	animation: rotation1 0.2s 1 ease-out;
}

.card-container div img:active{
	filter:drop-shadow(0px 0px 10px rgba(0,170,240,.8)) contrast(110%);
	animation: rotation2 1s 1 ease-out;	
}

@keyframes rotation1 {
    0% {
        transform: rotateX(-0deg) rotateY(0deg);/*transform: rotate(0deg);*/
    }
    50% {
        transform: rotateX(-20deg) rotateY(20deg);/*transform: rotateX(-20deg) rotateY(360deg);*//*transform: rotate(359deg);*/
    }
    100% {
        transform: rotateX(-0deg) rotateY(0deg);/*transform: rotate(0deg);*/
    }
}

@keyframes rotation2 {
    0% {
        transform: rotateX(-0deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(-20deg) rotateY(360deg);
    }

}


h2 {
	font-size: 50px;
	position:absolute;left:0px; top:-45px;
	color:rgba(255, 201, 14,0.7);
	/*background-color:rgba(160, 160, 160,0.2);*/
	filter:drop-shadow(0px 0px 10px rgba(255,255,255,.8));
}

h3 {
	font-size: 50px;
	color:rgba(255, 201, 14,0.99);
	/*background-color:rgba(160, 160, 160,0.9);*/
	filter:drop-shadow(0px 0px 10px rgba(0,0,0,.9));
	/*border-radius: 10px;*/

}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 25px;
  background-color:rgba(30, 30, 30,0.5);
  color:rgba(255, 255, 230,0.8);
  border-radius: 10px;

  filter:drop-shadow(0px 0px 10px rgba(0,0,0,.9));
  box-shadow: 5px 5px 10px rgba(0,0,0,.3);
}




button {
	/*margin-left: 150px;*/
	margin-left: 25%;
    display: inline-block;
    position: relative;
    z-index: 1;
    /*min-width: 200px;*/
	width:40%;
    background: #FFFFFF;
    border: 2px solid goldenrod;
    border-radius: 3rem;
    color: goldenrod;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    padding: 10px 20px;
}

button:after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: goldenrod;
    border-radius: 3rem;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
}
button:hover:after {
    transform: translate(0, 0);
}
button:hover {
    border: 2px solid transparent;
    color: #FFFFFF;
    transform: scale(1.05);
    will-change: transform;
}

@media screen and (max-width:900px)
{
	.bg1 {
		width: 100%;
	}
	.card-container {
		width: 100%;
		border-right:unset;
	}
	.preview-container {
		width: 100%;
		left: 0%;
		top:unset;
		height: 30%;
		bottom:0%;
		position:fixed;
		background-color:rgba(0, 0, 0,0.7);
		border-radius: 10px;
		color:#FFFFFF;
		backdrop-filter: blur(5px);
	}
	h3 {
		font-size: unset;
	}
	textarea
	{
		font-size: unset;
		position:fixed;
		right:0px;
		width: 80%;
		top:20%;
	}
}